# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.stylelintcache

# Local env files
.env
.env.*
!.env.example

# git-secret
.gitsecret/keys/random_seed
!*.secret

# SSL Certificates
*.pem
*.key
*.crt

# Highscore file
content/highscores.json