$core-color-tertiary-base: #00343d;
$core-color-tertiary-darker: #002329;

$core-color-bg: #013c4a;
$core-color-green: #A5C814;
$core-color-dark: #16424A;
$core-color-white-soft: #fdfdfd;
$core-color-white: #ffffff;


$muted: color-mix(in srgb, #{$core-color-white} 62%, white 38%);
