$color-petrol: #003d49;
$color-petrol-light: #0d4752;

$color-teal: #79b992;
$color-bright-green: #bce514;
$color-light-gray: #d4dee8;
$color-off-white: #f0f0f0;

:root {
  --color-off-white: #{$color-off-white};
  --color-petrol: #{$color-petrol};
  --color-bright-green: #{$color-bright-green};
}
