.brand-logo {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  appearance: none;
  z-index: 10;

  img {
    display: block;
    width: 320px;
    height: auto;
  }
}
